
.login-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color:gold;
    padding: 30px;
    justify-content: center;
    align-items: center;
  }
  .login{
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .register{
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .register-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color:rgb(180, 228, 107);
    padding: 30px;
    justify-content: center;
    align-items: center;
  }
  .login-link {
    color: blue;
    text-decoration: underline;
  }
  .register-link {
    color: blue;
    text-decoration: underline;
  }
  .ammuntinAttack{
    display: flex;
    gap: 15px;
    color:red;
  }




  table{
    width: 98%;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    border: 10px solid blue;
  }
  .theadTable{
    padding: 5px;
    background-color: rgb(36, 97, 212);
  }

  thead tr th{
    padding: 5px;
    border-bottom: 4px solid white;
  }
  table tr{
    background-color: cornflowerblue;
  }

  table tr td {
    padding: 3px;
  }
  
  